
.i_fade-enter-active,
.i_fade-leave-active {
	transition: opacity .5s;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s
}

.i_dialog-enter,
.i_dialog-leave-active,
.i_fade-enter,
.i_fade-leave-active {
	opacity: 0
}